{% extends 'base.html' %}

{% block content %}

    <section class="course">
        <section class="course-header">
            <h3>{{course.code}}</h3>
            <p>{{course.name}} <em>{{course.instructor.username}}</em></p>
        </section>
        <section class="course-body">
            <section class="course-body-content">
                <p>{{ course.description }}</p>
            </section>
            <section class="course-body-footer">
                
            </section>
        </section>
    </section>
    {% if lessons %}
        <section class="lessons">
            {% for lesson in lessons %}
            <section class="lesson">
                <section class="lesson-header">
                    <h3>{{lesson.name}}</h3>
                    <p>{{lesson.course.code}} <em>{{lesson.course.instructor.username}}</em></p>
                    <strong>{{lesson.created_date}}</strong>
                    <a href="{% url 'view_lesson' course.id lesson.id %}">View Lesson</a>
                </section>
            </section>
            {% endfor %}
        </section>
    {% else %}
        <section class="no-lessons">
            <p>No lessons available</p>
        </section>
    {% endif %}

    {% if exercises %}
        <section class="exercises">
            {% for exercise in exercises %}
            <section class="exercise">
                <section class="exercise-header">
                    <h3>{{exercise.name}}</h3>
                    <p>{{exercise.course.code}} <em>{{exercise.course.instructor.username}}</em></p>
                    <strong>{{exercise.created_date}}</strong>
                    <a href="{% url 'view_exercise' course.id exercise.id %}">View Exercise</a>
                </section>
            </section>
            {% endfor %}
        </section>
    {% else %}
        <section class="no-exercises">
            <p>No exercises available</p>
        </section>
    {% endif %}


{% endblock content %}